body {
    background-image: url('/assets/pool-lanes.avif');
    font-family: 'Roboto Slab', serif;
}

h1,
h2 {
    font-family: 'Roboto Slab', serif;

}

.header-footer {
    background-color: #2196F3;

}

.mySlides {
    display: none
}

/*  */