body {
    font-family: 'Roboto Slab', serif;
}

h1,
h2 {
    font-family: 'Roboto Slab', serif;

}

.header-footer {
    background-color: #ffda6a;

}

.mySlides {
    display: none
}

/*  */