body {
    background-image: url("https://images.unsplash.com/photo-1504309092620-4d0ec726efa4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    font-family: 'Roboto Slab', serif;
}

h1,
h2 {
    font-family: 'Roboto Slab', serif;

}

.header-footer {
    background-color: #2196F3;

}

.mySlides {
    display: none
}

/*  */